/*------- CSS RESET -------*/
*{padding:0;
  margin:0;
  font-size: 100%;
  line-height: 1em;}

/*---------MAIN STYLING------*/

body{
width: 70%;
max-width: 600px;
margin:auto;
background: #fafafa;
color: #333;
font-family: 'Libre Baskerville', serif;

}

section, aside, header, footer {width: 80%;
max-width: 700px;
margin: auto;
}


/*----------TYPOGRAPHY------*/



h1, h2, h3 {
font-weight: normal;
color: #8F0040;
text-align: center;
}

p {font-family: 'Libre Baskerville', serif;
font-family: 'Open Sans', sans-serif;}

p,blockquote{
margin-bottom: 1.5em;
line-height: 1.4;
}

h1 {font-size: 2.827em;
margin-top: 2em;
margin-bottom: 0.1em;}

h2 {font-size: 1.999em;
margin: 1em;}

h3 {font-size: 1.414em;
margin-bottom: 1.5em;}

blockquote {
font-size:1.414em;
hanging-punctuation: first;
text-indent: -0.0.5em;
color: #8F0040;
}

blockquote cite {
font-size: 0.707em;
color: #333;
}


/*------STYLING LINKS------*/
a {
  color: #8F0040;
  text-decoration:none;
}

a:hover {
  color: #26BED5;
  border-bottom: 1px dotted;

}




/*-------NAVIGATION-------*/



nav {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  background-color: #8F0040;
  padding: 1em 0;
  font-size: 0.75em;
}

nav ul {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;

}

nav ul li {
  display: inline;
  margin: 20px;

}
nav a:link {
  color: #fafafa;

}

nav a:visited {
  color: #fafafa;
}

nav a:hover {
  border-bottom: none;
  color: #26BED5;

}

baskerville {
  background: #333;
}

/*-------table-----*/

table {
  margin: auto;
  display: table;
  border-collapse: collapse;
  border-spacing: 2px;
  margin-bottom: 2em;
  width: 100%;

}

caption {
  margin-bottom: 1.5em;
  text-transform: uppercase;
}

th {
  color: #fafafa
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  background: #8F0040;

}

th,td {
  padding: .6em;

}

table, td {
  background: #rgb(221, 160,187);
  border: 1px solid #fafafa;

}

/*-------FOOTER-----*/

footer {text-align: center;
font-size: 0.707em;
padding: 2em 0 4em 0
color: #8F0040;


}
